@import url('./global.css');

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Deep-Bg);
    z-index: -100;
}

.background,
.background * {
    pointer-events: none;
}

.whites {
    position: relative;
    height: 100vh;
}

.whites::before {
    z-index: 1000;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;
    background-image: linear-gradient(-180deg, #121212 0%, rgba(255, 255, 255, 0.00) 100%);
    pointer-events: none;
}

.whites::after {
    z-index: 1000;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background-image: linear-gradient(0deg, #121212 0%, rgba(235, 235, 235, 0.00) 100%);
    pointer-events: none;
}

.squares {
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.square {
    animation: squares 9.5s linear infinite;
    align-self: flex-end;
    border-radius: 5px;
    width: 1em;
    height: 1em;
    transform: translateY(100%);
    background: var(--Bistech-Purple);
}

.square:nth-child(2) {
    height: 1.5em;
    width: 3em;
    animation-delay: 1s;
    animation-duration: 17s;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.square:nth-child(3) {
    height: 2em;
    width: 1em;
    animation-delay: 1.5s;
    animation-duration: 8s;
}

.square:nth-child(4) {
    height: 1em;
    width: 1.5em;
    animation-delay: 0.5s;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    animation-duration: 13s;
}

.square:nth-child(5) {
    height: 1.25em;
    width: 2em;
    animation-delay: 4s;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    animation-duration: 11s;
}

.square:nth-child(6) {
    height: 2.5em;
    width: 2em;
    animation-delay: 2s;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    animation-duration: 9s;
}

.square:nth-child(7) {
    height: 5em;
    width: 2em;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    animation-duration: 12s;
}

.square:nth-child(8) {
    height: 1em;
    width: 3em;
    animation-delay: 5s;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    animation-duration: 18s;
}

.square:nth-child(9) {
    height: 1.5em;
    width: 2em;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    animation-duration: 9s;
}

.square:nth-child(10) {
    height: 3em;
    width: 2.4em;
    animation-delay: 6s;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    animation-duration: 12s;
}

@keyframes squares {
    from {
        transform: translateY(100%) rotate(-50deg);
    }

    to {
        transform: translateY(calc(-100vh + -100%)) rotate(20deg);
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    min-width: 300px;
    max-width: 600px;
    padding: 1rem;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid var(--Clean-White);
    box-shadow: 0 0 15px var(--Bistech-Purple);
    justify-content: space-around;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--Bistech-Purple) inset;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
    background-image: url('../assets/images/vetor-preto-branco-abstrato.jpg');
    background-clip: content-box;
    background-size: cover;
    opacity: 0.005;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

input {
    width: 80%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--Bistech-Purple);
    background-color: var(--Deep-Bg);
    color: var(--Clean-White);
    margin-bottom: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -webkit-transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -ms-transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -o-transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    border-color: var(--Clean-White);
    box-shadow: 0 0 5px var(--Bistech-Purple);
}

button {
    width: 60%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid var(--Amber);
    background: transparent;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

button:hover {
    background-color: var(--Amber);
    color: var(--Deep-Bg);
}

button:active {
    background-color: var(--Deep-Bg);
    color: var(--Amber);
    box-shadow: 0 0 5px var(--Amber);
}

a {
    color: var(--Clean-White);
    text-decoration: none;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    cursor: pointer;
}

.link-box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}